//COLORS
$defaultColor: Black;

$brown1: rgb(76,58,0);
//$brown2
//$brown3

$yellow1: rgb(212,175,55);
$yellow2: #997500;
$yellow3: rgb(166,124,0);

$white1: White;
$white2: #f1f1f1;

$brownTransparent1: rgba(76,58,0,0.9);
$brownTransparent2: rgba(76,58,0,0.8);


$primaryFontSize: 1em;
$secondaryFontSize: 1.1em;
$tertiaryFontSize: 1.2em;
$smallFontSize: 0.9em;
$smallerFontSize: 0.8em;
$bigFontSize: 1.4em;


$break-1: 768px;
$break-2: 1170px;
$break-3: 1600px;